<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %> 
<div>
<embed src=".\Assets\images\resume.pdf" width="100%" height="1100">

</div>
<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %>
