/* custom css goes in here */
.navbar-brand img {
    height: 62px;
    width: 150px;
}


.form {
    background: #80808045;
    padding: 30px;
    border-radius: 10px;
}
body {
    background-color: black;
}
.main-body {
    
    background: black;
    color: gainsboro;
}

.title {
    margin: 50px;
}

.sub-title{
    color: #c78b0d;
}

/* About me page style */
.context-wrap {
    background: rgb(108 117 125 / 5%);
    border-radius: 8px;
}

.resume-btn {
    text-decoration: none;
    color: #c78b0d;
    border: 2px solid;
    padding: 10px 35px;
    background-color: black;
    border-radius: 35px;
    font-size: 20px;
    width: 150px;
}
.resume-btn:hover {
        background: #c78b0d;
        color: #f8f9fa;
        border: 2px solid #7c5708;
        transition: 0.5s ease;
    
}
.click-tag {
    margin-bottom: 30px;
}
.about-me-wrap.col {
    margin: 0 25px;
    justify-content: center;
    display: flex;
    flex-flow: column;
}
.about-me-context {
    font-size: 20px;
    margin-bottom: 60px;
}
.footer {
    color: #c78b0d;
}